<ion-content [scrollY]="false">
  <div class="cont">
    <ion-list class="scrollable list">
      <ng-container *ngFor="let message of history">
        <ng-container [ngSwitch]="message.type">
          <ng-container *ngSwitchCase="'service'">
            <div>{{message.text}}</div>
          </ng-container>
          <ng-container *ngSwitchCase="'normal'">
            <!-- +2 is a consequence of the border width -->
            <div style="max-width: {{canvasWidth + 2}}px" class="msg {{getColorForUserName(message.user)}}"> 
              <div class="msg-name">{{message.user}}</div>
              <img [src]="message.img"/>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-list>
    <app-canvas #canvas [width]="canvasWidth" [height]="canvasHeight"></app-canvas>
    <ion-buttons>
      <ion-button (click)="sendCanvas()">Send</ion-button>
      <ion-button (click)="copyCanvas()">Copy</ion-button>
      <ion-button (click)="clearCanvas()">Clear</ion-button>
    </ion-buttons>
  </div>
</ion-content>
