<ion-content>
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input [(ngModel)]="settings.username" [disabled]="this.settings.logged"></ion-input>
    <ion-button *ngIf="!this.settings.logged; else logout" (click)="login()">Login</ion-button>
    <ng-template #logout>
      <ion-button (click)="this.settings.logged = false">Logout</ion-button>
    </ng-template>
  </ion-item>
  <ion-list *ngIf="this.settings.logged">
    <div><a routerLink="/room/A">Chat Room A ({{users['A']}}/16)</a></div>
    <div><a routerLink="/room/B">Chat Room B ({{users['B']}}/16)</a></div>
    <div><a routerLink="/room/C">Chat Room C ({{users['C']}}/16)</a></div>
    <div><a routerLink="/room/D">Chat Room D ({{users['D']}}/16)</a></div>
  </ion-list>
</ion-content>
